
.modal {
    width: 50% !important;
    height: 75% !important;
}
.tab{
    border-style: solid;
    border-width: .2px 0px 0px 0px;
    border-color: #D3D3D3;
}
.tabs .tab a{
    color:#000;
    background-color: white;
}
/*Black color to the text*/

.tabs .tab a:hover {
    background-color:#eee;
    color:#A9A9A9;
} /*Text color on hover*/

/*.tabs .tab .tab.active a.focus a:focus.active{
    background-color: rgba(0, 0, 0, 0);
    color:#000;
} /*Background and text color when a tab is active*/

/*a:active{
    background-color: rgba(0, 0, 0, 0);
}

/*.tabs .indicator {
    background-color:#000;
} /*Color of underline*/
/*.tabs{
    border-style: solid;
    border-width: .2px .2px;
}

